In [2]:
import pandas as pd
data_path = './data/train.csv'
df = pd.read_csv(data_path)
df

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,NaN
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False
...,...,...,...,...,...,...,...,...,...,...
101230327,101230327,428564420,2147482888,3586,0,22,0,1,18000.0,True
101230328,101230328,428585000,2147482888,6341,0,23,3,1,14000.0,True
101230329,101230329,428613475,2147482888,4212,0,24,3,1,14000.0,True
101230330,101230330,428649406,2147482888,6343,0,25,1,0,22000.0,True
101230331,101230331,428692118,2147482888,7995,0,26,3,1,29000.0,True

In [2]:
df.columns

Index(['row_id', 'timestamp', 'user_id', 'content_id', 'content_type_id',
       'task_container_id', 'user_answer', 'answered_correctly',
       'prior_question_elapsed_time', 'prior_question_had_explanation'],
      dtype='object')

In [3]:
df1=df.drop(['row_id', 'timestamp', 'content_type_id',
       'task_container_id', 
       'prior_question_elapsed_time'], axis=1)
df1

,user_id,content_id,user_answer,answered_correctly,prior_question_had_explanation
0,115,5692,3,1,NaN
1,115,5716,2,1,False
2,115,128,0,1,False
3,115,7860,0,1,False
4,115,7922,1,1,False
...,...,...,...,...,...
101230327,2147482888,3586,0,1,True
101230328,2147482888,6341,3,1,True
101230329,2147482888,4212,3,1,True
101230330,2147482888,6343,1,0,True
101230331,2147482888,7995,3,1,True

In [4]:
group_df=df1['content_id'].value_counts()
group_df

6116     213605
6173     202106
4120     199372
175      195861
7876     190170
          ...
10006         1
10007         1
10008         1
1484          1
21169         1
Name: content_id, Length: 13782, dtype: int64

In [5]:
print(len(group_df),len(df1))

13782 101230332

In [6]:
sorted_group_df=group_df.sort_values(ascending=False)
sorted_group_df

6116     213605
6173     202106
4120     199372
175      195861
7876     190170
          ...
14429         1
5823          1
10033         1
1486          1
21169         1
Name: content_id, Length: 13782, dtype: int64

In [7]:
sorted_group_df=sorted_group_df[:3624]
# pd.DataFrame(sorted_group_df)

In [8]:
sorted_group_df

6116    213605
6173    202106
4120    199372
175     195861
7876    190170
         ...
1244      8234
3957      8230
8774      8228
1989      8225
1990      8218
Name: content_id, Length: 3624, dtype: int64

In [10]:
sorted_group_list=sorted_group_df.index.tolist()

In [11]:
df1

,user_id,content_id,user_answer,answered_correctly,prior_question_had_explanation
0,115,5692,3,1,NaN
1,115,5716,2,1,False
2,115,128,0,1,False
3,115,7860,0,1,False
4,115,7922,1,1,False
...,...,...,...,...,...
101230327,2147482888,3586,0,1,True
101230328,2147482888,6341,3,1,True
101230329,2147482888,4212,3,1,True
101230330,2147482888,6343,1,0,True
101230331,2147482888,7995,3,1,True

In [11]:
df1.content_id.isin(sorted_group_list)

0             True
1             True
2             True
3             True
4             True
             ...
101230327    False
101230328     True
101230329     True
101230330    False
101230331    False
Name: content_id, Length: 101230332, dtype: bool

In [20]:
df1

,user_id,content_id,user_answer,answered_correctly,prior_question_had_explanation
0,115,5692,3,1,NaN
1,115,5716,2,1,False
2,115,128,0,1,False
3,115,7860,0,1,False
4,115,7922,1,1,False
...,...,...,...,...,...
101230327,2147482888,3586,0,1,True
101230328,2147482888,6341,3,1,True
101230329,2147482888,4212,3,1,True
101230330,2147482888,6343,1,0,True
101230331,2147482888,7995,3,1,True

In [21]:
df2 = df1.loc[df1.content_id.isin(sorted_group_list)]

In [31]:
df2=df2.sort_values(by=['content_id'])

KeyError: [6116, 6173, 4120, 175, 7876, 7900, 2065, 2064, 2063, 4492, 3365, 3364, 3363, 4696, 1278, 6370, 2946, 2947, 2948, 2595, 2594, 2593, 7217, 7216, 7218, 7219, 10686, 10688, 294, 10685, 10684, 10687, 3878, 6879, 6877, 6878, 6880, 3731, 4995, 4414, 1315, 6908, 6911, 6909, 6910, 877, 3717, 4476, 853, 4108, 951, 5177, 6318, 199, 7898, 738, 4821, 824, 6117, 5616, 446, 6120, 834, 9259, 762, 6002, 4258, 335, 5703, 6119, 638, 405, 1313, 4416, 6668, 3871, 4340, 3852, 1296, 4966, 4406, 587, 3859, 6185, 665, 6, 5192, 279, 3986, 288, 4257, 5038, 920, 6422, 3635, 5183, 5339, 721, 3854, 1192, 5585, 6453, 9283, 4501, 5713, 3636, 5708, 996, 5173, 6114, 438, 4467, 5350, 6087, 5581, 4496, 5335, 4237, 5615, 7863, 5664, 3642, 5247, 7859, 185, 6118, 9, 4533, 4975, 5592, 5250, 5698, 6005, 7964, 5694, 4519, 4818, 5262, 4807, 4074, 4464, 5673, 972, 773, 3855, 2, 6155, 6151, 4470, 4130, 660, 5671, 538, 1265, 3153, 6058, 5582, 8284, 1239, 6425, 5620, 421, 4412, 5596, 6661, 901, 3609, 236, 4992, 695, 553, 4987, 766, 886, 189, 5213, 4417, 5670, 4065, 1291, 55, 981, 4428, 4421, 6106, 4123, 1036, 217, 5340, 4454, 5600, 4141, 6430, 6429, 6152, 3857, 4979, 1249, 6435, 5348, 855, 589, 4425, 651, 5029, 7910, 4702, 3641, 1114, 5980, 731, 6437, 134, 5271, 7942, 3988, 291, 5181, 45, 4002, 5692, 5197, 4710, 7927, 258, 6394, 58, 5628, 5266, 1367, 1260, 572, 5165, 64, 969, 5257, 4664, 6102, 3639, 6451, 4419, 110, 4766, 7926, 5588, 4117, 999, 6797, 6759, 6757, 4240, 6758, 6760, 98, 1217, 6091, 204, 4976, 6866, 763, 6868, 6865, 6867, 4451, 396, 3970, 6264, 5717, 130, 4984, 4998, 3944, 1250, 372, 1383, 4494, 5668, 6180, 157, 757, 6673, 187, 4039, 6873, 6876, 4259, 6875, 6874, 447, 904, 4244, 4480, 5624, 582, 1369, 3853, 242, 984, 6256, 5706, 748, 5222, 3643, 506, 4248, 7903, 10540, 4447, 3644, 1029, 4, 4405, 6381, 560, 6659, 4020, 1002, 1100, 4212, 3928, 5199, 6808, 52, 4418, 802, 8216, 290, 817, 6263, 1194, 4466, 4078, 183, 4836, 10, 3862, 1174, 1223, 6108, 3974, 5030, 8468, 5223, 787, 6143, 172, 6870, 6871, 5158, 6869, 5619, 6872, 593, 1344, 7901, 5627, 7974, 4427, 149, 4114, 412, 5216, 4256, 6844, 6842, 39, 6841, 6843, 876, 6895, 4424, 6893, 6894, 6892, 10075, 1075, 4118, 3632, 6283, 6767, 4040, 1233, 6766, 6768, 6765, 6125, 5660, 4253, 6469, 967, 5154, 4528, 795, 4436, 4465, 3628, 4456, 541, 4996, 10073, 4568, 10072, 10071, 10070, 277, 5182, 6268, 5242, 4432, 423, 1330, 5351, 525, 6475, 3180, 3182, 3181, 4439, 6477, 434, 599, 311, 5267, 5720, 725, 5256, 5498, 4446, 4784, 5738, 165, 403, 484, 5241, 983, 6292, 4997, 5669, 4755, 1110, 4709, 1359, 107, 5658, 1339, 5255, 4472, 5626, 3968, 5254, 7904, 691, 5180, 6191, 1074, 270, 21411, 6154, 1290, 6441, 5243, 7945, 402, 1224, 5156, 481, 4100, 829, 5861, 1145, 9272, 6266, 6431, 1181, 5168, 3965, 1279, 1111, 159, 355, 5508, 4768, 4455, 5718, 4411, 10074, 10076, 10077, 1083, 756, 4490, 6265, 6255, 6259, 5005, 76, 7984, 5701, 5614, 6816, 6814, 6815, 6813, 482, 5327, 307, 625, 4429, 5565, 4473, 5006, 5704, 422, 1096, 5263, 772, 739, 728, 6688, 4534, 6611, 6612, 6609, 6610, 5155, 5427, 939, 7867, 1087, 6674, 809, 6184, 4718, 761, 6587, 6586, 6588, 6585, 376, 4433, 5330, 1131, 7981, 6638, 6640, 6639, 6637, 5326, 1334, 5186, 6078, 284, 5329, 544, 379, 5273, 6456, 186, 5325, 1207, 10079, 10080, 10078, 10081, 1256, 4142, 420, 1252, 3945, 5334, 3864, 786, 89, 454, 3366, 3368, 3367, 296, 5202, 4434, 4102, 216, 6224, 1322, 29695, 51, 783, 7965, 724, 4453, 668, 5716, 4103, 191, 4089, 1373, 6660, 244, 4478, 341, 4706, 5712, 56, 6124, 3858, 2819, 2820, 2818, 5261, 4779, 399, 6280, 5000, 1010, 5178, 1047, 654, 329, 5598, 171, 6286, 466, 441, 7915, 6798, 646, 6800, 6799, 554, 5696, 6246, 3610, 6856, 6854, 6855, 6853, 144, 6859, 6857, 6858, 6860, 371, 507, 749, 6115, 3990, 597, 7920, 6393, 6445, 9896, 5691, 8317, 262, 4129, 6004, 65, 3, 5657, 4569, 6281, 3633, 723, 6443, 369, 1202, 9312, 6580, 6578, 1267, 6577, 6579, 6291, 5715, 9285, 4981, 7905, 15888, 4231, 4982, 1314, 2900, 2898, 122, 2899, 5563, 156, 6167, 556, 194, 997, 152, 3998, 5674, 4413, 4502, 6631, 4495, 6632, 6629, 960, 6630, 214, 3841, 3983, 1103, 526, 6130, 7933, 568, 4423, 4539, 4463, 6261, 4978, 6436, 7896, 758, 620, 6440, 8494, 5166, 4481, 5221, 5387, 775, 926, 5589, 948, 5207, 3961, 5238, 588, 6279, 6771, 7860, 6769, 4431, 6772, 6770, 3076, 3077, 3075, 3966, 4430, 5392, 1245, 114, 5185, 4057, 426, 104, 180, 5012, 50, 750, 5752, 6650, 324, 7892, 25, 4556, 4254, 325, 27845, 8454, 915, 349, 414, 5270, 4980, 5347, 1309, 4851, 4064, 26335, 1109, 7894, 365, 222, 3893, 18, 32312, 29544, 6624, 6623, 5002, 6622, 6621, 4080, 6183, 4145, 1067, 632, 4457, 6258, 5341, 6101, 5007, 5287, 6739, 6738, 3899, 4771, 6737, 6740, 1393, 7971, 4105, 6427, 5264, 8330, 1186, 6016, 28, 4147, 7979, 4152, 753, 1731, 1158, 437, 6262, 5579, 4437, 675, 937, 5993, 4261, 386, 120, 15, 734, 12, 5404, 193, 4530, 8219, 123, 3123, 1534, 1533, 1532, 108, 4667, 6293, 4734, 6704, 6702, 6701, 6703, 1085, 1335, 6046, 6460, 6576, 6575, 7935, 6573, 6574, 4529, 6007, 1399, 1372, 1105, 845, 5244, 5212, 7951, 628, 6907, 8460, 5707, 6905, 6472, 6906, 6904, 4704, 5285, 6500, 6498, 5281, 4217, 6499, 6497, 3179, 3177, 3178, 729, 1342, 240, 4458, 253, 213, 1232, 128, 5265, 1064, 923, 9289, 4542, 4190, 6695, 6694, 6693, 6696, 7922, 208, 6921, 255, 3288, 3290, 3289, 6922, 6920, 6923, 1154, 7983, 6761, 6778, 6779, 6777, 6780, 8708, 622, 9693, 955, 3748, 930, 5013, 4067, 854, 994, 4727, 501, 7712, 7711, 7710, 7709, 7713, 7899, 5455, 6107, 1755, 6372, 1756, 1754, 6562, 6563, 6564, 6561, 3985, 18545, 6013, 5246, 6481, 62, 368, 7972, 5352, 645, 7949, 706, 4700, 7854, 5220, 14325, 6889, 5928, 6890, 6891, 455, 3603, 5679, 6449, 3980, 6444, 3926, 9260, 6095, 5611, 235, 683, 6915, 6912, 1184, 6913, 6914, 88, 4692, 5324, 5367, 61, 583, 580, 549, 1016, 239, 702, 3758, 4222, 6000, 7916, 4740, 6254, 3767, 5680, 83, 6663, 4498, 4408, 6595, 6594, 6596, 6593, 306, 831, 5175, 3999, 1118, 633, 4826, 77, 7978, 1212, 6126, 5190, 6260, 6070, 100, 173, 1389, 4402, 5322, 6785, 6788, 6786, 6787, 6132, 9758, 954, 282, 5286, 5153, 4388, 6442, 1360, 6001, 710, 6918, 5705, 6917, 4482, 6916, 6919, 791, 4228, 8257, 215, 8501, 4236, 435, 21887, 711, 5677, 3941, 7908, 5218, 5434, 5085, 6414, 5562, 218, 439, 1873, 1871, 1318, 1872, 5700, 10852, 1170, 505, 4491, 383, 1326, 1915, 1914, 1913, 6310, 407, 1144, 5994, 1161, 6764, 6763, 6762, 1729, 1728, 1727, 6360, 768, 4497, 4058, 488, 730, 4128, 5328, 740, 3577, 744, 546, 934, 5001, 1392, 6368, 2588, 2587, 2589, 1798, 6902, 6903, 6900, 6374, 6901, 1796, 319, 1797, 1253, 6145, 5008, 334, 5621, 5172, 6031, 260, 4764, 4970, 3868, 4409, 880, 7956, 5681, 4021, 4422, 357, 9276, 139, 3940, 7939, 1071, 1364, 4691, 7944, 6806, 6807, 424, 6805, 4435, 1106, 1069, 5268, 6094, 6257, 6018, 6819, 6818, 6820, 6817, 7968, 866, 1238, 4005, 3113, 5653, 2002, 2001, 2000, 980, 3599, 184, 6755, 6753, 322, 821, 6572, 6571, 6569, 6754, 6756, 6570, 1204, 10447, 3981, 248, 6426, 4791, 2176, 6747, 5345, 7402, 7401, 6746, 7404, 5618, 7405, 7403, 6745, 2175, 2174, 6748, 24, 3309, 3311, 3310, 995, 1517, 1518, 1519, 1310, 4260, 496, 7924, 37, 4216, 1294, 6927, 6925, 6926, 1285, 6924, 5676, 3984, 6249, 142, 3950, 5952, 2278, 7744, 7748, 7745, 7747, 7746, 1750, 2373, 1749, 1748, 8489, 2372, 2371, 164, 6670, 5602, 5259, 384, 1049, 250, 698, 14443, 385, 956, 5096, 6067, 1362, 1473, 1472, 1474, 3873, 4025, 8262, 153, 828, 640, 2095, 2094, 2093, 7, 4725, 697, 611, 4500, 595, 4489, 1639, 1637, 1638, 1176, 822, 5672, 910, 5272, 1113, 220, 6450, 3973, 1321, 5318, 1478, 1480, 1479, 1080, 6616, 6614, 7888, 6791, 6613, 6790, 85, 6792, 6789, 4537, 6615, 1068, 814, 6003, 5240, 5610, 1303, 1524, 1525, 1523, 4003, 498, 1407, 1408, 1406, 7897, 1738, 1736, 1737, 1108, 474, 6590, 367, 6589, 6591, 6592, 6809, 259, 6812, 6811, 234, 6810, 3261, 6598, 6599, 6600, 6597, 6649, 1051, 3262, 3263, 2072, 2074, 7969, 2073, 5984, 3776, 2243, 2242, 2244, 522, 2008, 2007, 2006, 1424, 1426, 1425, 510, 489, 6253, 4475, 1185, 5675, 5331, 4728, 490, 2083, 2081, 2082, 6832, 6831, 6830, 6829, 559, 1125, 872, 1078, 4689, 5987, 9083, 392, 6252, 5594, 1475, 1476, 6669, 1477, 8976, 3348, 3350, 3349, 4682, 540, 1248, 889, 170, 6405, 564, 736, 6496, 6494, 6495, 6493, 6136, 2131, 2130, 2129, 3969, 5460, 3865, 6250, 518, 4608, 2646, 2644, 2645, 3613, 6093, 1398, 6897, 6896, 6899, 6898, 6708, 847, 6706, 6707, 1457, 1458, 1459, 4678, 6705, 575, 6471, 6041, 5026, 6073, 3631, 1236, 7870, 7491, 7490, 7489, 3354, 7492, 3355, 7493, 3356, 661, 398, 176, 9488, 4789, 6033, 5976, 6583, 918, 6584, 457, 6581, 6582, 1052, 4370, 1251, 6083, 9477, 397, 6043, 4026, 419, 72, 5719, 295, 293, 278, 5282, 1189, 5690, 1338, 499, 10390, 6852, 6851, 6850, 6849, 5249, 642, 1353, 5836, 5961, 5584, 868, 720, 5344, 905, 1980, 7954, 1981, 9315, 1979, 340, 492, 14, 6410, 1786, 195, 1784, 1785, 917, 28621, 591, 1720, 389, 1719, 1718, 275, 6071, 1674, 1673, 1675, 703, 9306, 6568, 6567, 6566, 6565, 462, 643, 8458, 4407, 684, 3749, 63, 751, 5971, 3725, 9097, 7967, 5385, 1101, 25843, 1501, 10457, 8461, 5188, 4056, 1200, 873, 1329, 332, 381, 7976, 8632, 5597, 350, 5332, 1584, 316, 1583, 1585, 5583, 6247, 8198, 1191, 3069, 3070, 3071, 477, 5714, 326, 10409, 6099, 401, 6836, 6833, 6834, 6835, 6022, 707, 1255, 1378, 6653, 793, 1247, 6400, 515, 1056, 5880, 209, 6172, 502, 4985, 4994, 5169, 2667, 2249, 2666, 2248, 1604, 2665, 2250, 1148, 1165, 1613, 1615, 1614, 3244, 3243, 3245, 6062, 3728, 1751, 1753, 1752, 4748, 754, 59, 1758, 10518, 126, 1759, 10616, 825, 1757, 2285, 2284, 2286, 5258, 8643, 3977, 1274, 4094, 6729, 6730, 6732, 6731, 1302, 2722, 2723, 2724, 832, 1044, 690, 483, 6438, 5595, 8207, 9574, 6369, 1055, 6455, 4780, 1612, 1611, 1610, 131, 6848, 6847, 6845, 6846, 461, 3967, 685, 237, 608, 3727, 24985, 1107, 360, 354, 249, 3114, 3116, 3115, 4013, 9275, 5710, 1160, 1266, 1014, 1237, 338, 29579, 818, 6199, 5159, 500, 1350, 69, 5141, 2084, 4540, 4554, 4567, 5665, 309, 747, 6718, 6719, 6717, 6720, 545, 5990, 1062, 404, 5418, 3744, 200, 621, 870, 4732, 6164, 2861, 2860, 272, 5540, 1172, 1983, 1982, 1984, 5323, 5349, 6371, 1328, 4109, 1289, 374, 4265, 6633, 6635, 6634, 6636, 5606, 1341, 4384, 6783, 3872, 6782, 6784, 6781, 6604, 6603, 6601, 6602, 1011, 5017, 1391, 6419, 3769, 219, 979, 456, 400, 656, 8473, 896, 662, 1141, 579, 1210, 805, 10383, 6251, 5283, 1240, 393, 493, 6803, 387, 6804, 6802, 6801, 946, 6104, 6774, 6775, 6773, 576, 6776, 7391, 7392, 7393, 7395, 7394, 551, 1374, 5253, 174, 7091, 7090, 378, 7092, 7094, 7093, 5558, 704, 584, 2617, 2619, 2618, 5307, 8393, 5378, 808, 5571, 2586, 6361, 2584, 2585, 1169, 617, 6976, 6980, 6977, 6979, 6978, 1124, 3746, 5043, 3762, 269, 427, 4474, 3903, 914, 4188, 11386, 4782, 819, 8470, 1119, 4070, 6734, 6733, 3736, 1363, 6735, 6736, 2597, 2598, 5687, 2596, 4179, 5702, 3734, 835, 5979, 4566, 103, 202, 919, 2574, 2573, 2572, 1234, 6619, 649, 5389, 328, 5983, 390, 5362, 735, 941, 5590, 6712, 3078, 6711, 1032, 2118, 2119, 6710, 2117, 647, 7421, 7423, 7424, 7422, 7425, 6709, 1129, 1605, 1606, 5424, 10413, 604, 5228, 4763, 6140, 5336, 615, 7872, 6351, 9105, 958, 1188, 1006, 1311, 8398, 5045, 759, 78, 430, 9475, 688, 2387, 2388, 2386, 1104, 644, 24697, 494, 991, 22034, 2958, 2960, 2959, 476, 5954, 138, 4459, 7928, 6192, 861, 1272, 634, 2498, 2499, 2497, 9297, 212, 894, 5949, 1742, 6488, 1743, 6485, 1336, 6487, 4449, 6486, 1744, 8485, 1365, 7389, 7388, 7390, 7387, 7386, 1262, 22089, 8726, 1304, 9284, 7880, 6675, 875, 24908, 298, 874, 4292, 5960, 3255, 6186, 536, 1008, 1368, 60, 1288, 924, 798, 1095, 1218, 3148, 3147, 3149, 5787, 302, 4777, 280, 5070, 574, 4762, 9473, 305, 4854, 6617, 413, 6620, 712, 6618, 1348, 1152, 1337, 2751, 4737, 211, 2750, 2749, 10568, 1007, 1867, 1866, 1865, 1054, 2224, 6248, 6467, 2226, 2225, 7882, 4813, 6072, 5420, 993, 7851, 15430, 377, 5032, 10387, 465, 4839, 8502, 5709, 460, 2442, 361, 10415, 2441, 409, 6028, 2440, 1142, 9258, 6439, 5995, 6097, 3982, 908, 1227, 678, 807, 3979, 17326, 418, 370, 672, 5161, 7970, 5157, 4132, 8649, 555, 5989, 5544, 5009, 1349, 942, 5958, 4773, 1043, 4009, 3971, 2207, 771, 3774, 2206, 2208, 5604, 320, 9220, 7914, 1629, 5722, 1628, 1065, 1630, 841, 986, 4180, 4131, 31, 7884, 947, 410, 124, 6686, 1061, 857, 5833, 1025, 530, 86, 6628, 1242, 8622, 6625, 6626, 6627, 12472, 232, 2335, 2337, 2336, 111, 5487, 5205, 4787, 9923, 5430, 4829, 6359, 352, 4999, 2341, 2343, 2342, 769, 5953, 27339, 161, 887, 1175, 5557, 5591, 8175, 9245, 1009, 2872, 3791, 5004, 2873, 10421, 2871, 5039, 2541, 2539, 2540, 3978, 6651, 5388, 804, 5429, 5545, 659, 5133, 7873, 4536, 4723, 297, 6492, 6489, 6490, 6491, 5441, 653, 8653, 5191, 4012, 1235, 542, 4305, 813, 4461, 7936, 4444, 4299, 5432, 4068, 1228, 433, 10627, 5593, 8459, 1246, 3874, 907, 4726, 3645, 1358, 666, 737, 327, 286, 1088, 10002, 7858, 9232, 229, 308, 1035, 6461, 6751, 6752, 5999, 6750, 6749, 4376, 5071, 6012, 606, 1053, 5280, 9478, 245, 7008, 4683, 1366, 1347, 1030, 609, 4110, 4462, 7148, 7147, 7145, 7146, 4681, 7149, 1060, 1324, 1388, 231, 5885, 359, 6051, 1039, 4450, 636, 1618, 1616, 1333, 1617, 8645, 1735, 1733, 1734, 469, 4001, 837, 953, 1307, 1512, 1513, 1511, 2907, 2909, 2908, 265, 1050, 1004, 663, 10411, 337, 4558, 4187, 5245, 1273, 331, 415, 1213, 5412, 5568, 4380, 1345, 5419, 2205, 2203, 2204, 182, 3975, 274, 2592, 2591, 1156, 2590, 121, 458, 148, 225, 881, 1259, 5394, 5206, 5200, 1270, 7477, 266, 7865, 12638, 4030, 962, 741, 943, 333, 1187, 5997, 823, 5442, 443, 5397, 605, 10529, 709, 5518, 6827, 6828, 1163, 6826, 535, 6825, 815, 19744, 9780, 1173, 7877, 509, 5371, 5689, 429, 468, 345, 4420, 607, 694, 3773, 9133, 1384, 18186, 6690, 6691, 6692, 6689, 878, 5711, 6121, 6149, 586, 285, 2577, 8396, 2575, 2576, 5609, 3706, 4037, 5551, 5284, 9476, 5184, 524, 975, 865, 6644, 6642, 9261, 6641, 1136, 6643, 4215, 755, 944, 3698, 4772, 10523, 1878, 1879, 1357, 714, 1877, 2191, 2193, 2192, 3251, 3250, 10584, 8652, 3249, 1120, 789, 543, 3754, 5209, 27, 4368, 5992, 700, 5431, 21, 936, 743, 8455, 7958, 1033, 1040, 5214, 7779, 7775, 7778, 7777, 7776, 1230, 3478, 3477, 3479, 8647, 7934, 6057, 4410, 590, 163, 1325, 27022, 790, 6683, 1132, 1276, 118, 3781, 2391, 4988, 2389, 2390, 10085, 10083, 10084, 10082, 268, 7893, 1206, 3751, 891, 487, 26516, 1286, 23336, 13605, 25401, 475, 317, 1295, 5974, 5355, 5975, 693, 8644, 671, 19, 10217, 7883, 945, 938, 1123, 3755, 9496, 18239, 5474, 650, 5450, 4202, 7871, 9395, 9107, 717, 5970, 1003, 192, 3880, 3476, 3474, 3475, 3209, 3207, 3208, 5986, 1572, 1571, 1573, 22362, 846, 2495, 2496, 2494, 5382, 5981, 836, 9249, 1375, 1258, 1147, 1231, 28921, 27115, 3233, 1287, 3231, 3232, 6725, 713, 5386, 6147, 1093, 6988, 6990, 6989, 6987, 6986, 8184, 53, 1028, 12811, 5375, 1162, 7687, 7688, 7684, 7685, 7686, 263, 5607, 16034, 6726, 4363, 8401, 1018, 6727, 4853, 6728, 135, 4781, 733, 4099, 7977, 1179, 1346, 5376, 321, 5164, 10717, 10718, 10716, 7963, 388, 916, 7869, 4811, 1086, 1153, 485, 801, 8402, 5440, 3713, 6042, 5358, 1923, 1922, 1924, 5443, 4754, 1077, 1257, 6069, 5171, 31589, 1281, 6715, 6716, 5426, 6713, 6714, 2481, 264, 5010, 1023, 2480, 2479, 6339, 283, 10481, 742, 5481, 565, 1880, 1882, 1881, 8641, 2408, 2409, 2407, 4077, 2049, 4033, 17124, 8706, 11254, 5892, 10419, 6032, 140, 1178, 2379, 1199, 4230, 2377, 7342, 7344, 2378, 7345, 7341, 5401, 7343, 336, 5436, 451, 4769, 11260, 528, 1091, 7891, 719, 1089, 5160, 6367, 9990, 4939, 33, 8648, 2501, 2502, 2500, 1177, 639, 6113, 5853, 777, 883, 3379, 3626, 3380, 3378, 5215, 4452, 884, 5969, 6697, 6700, 6699, 7947, 627, 6698, 5219, 4283, 411, 4477, 31613, 637, 6382, 1205, 3625, 903, 6123, 1115, 6795, 5163, 5666, 6793, 6794, 6796, 869, 3866, 4624, 467, 727, 10418, 1166, 8526, 2714, 2715, 529, 2713, 774, 6864, 655, 6862, 6861, 6863, 1293, 358, 10693, 10694, 4860, 10692, 1195, 1355, 558, 1264, 4778, 985, 2327, 34, 562, 533, 716, 9494, 261, 5942, 1387, 921, 251, 6480, 6127, 382, 8014, 8016, 8017, 8015, 8018, 6037, 826, 2817, 1732, 2816, 2815, 7980, 992, 16874, 5390, 1730, 10422, 8608, 561, 5529, 3760, 3720, 1066, 4800, 6188, 5625, 416, 5651, 3684, 448, 4720, 1015, 7912, 1037, 14942, 2702, 9503, 2703, 2701, 6345, 9974, 776, 6138, 677, 5830, 8471, 927, 6128, 4679, 503, 1623, 5369, 4291, 9174, 1622, 1624, 8395, 3702, 5310, 8646, 105, 4690, 445, 4045, 4544, 141, 511, 1300, 8642, 2263, 2264, 4195, 9835, 2265, 3906, 230, 6341, 794, 10052, 7267, 7269, 7265, 4171, 7266, 7268, 168, 8811, 1196, 585, 8531, 13660, 5444, 4367, 241, 1198, 5788, 1203, 2685, 4831, 8399, 3125, 3124, 2684, 5985, 2683, 796, 5274, 669, 375, 3722, 7517, 7516, 9277, 1229, 5194, 2923, 2922, 2924, 4250, 188, 3618, 1157, 1057, 4046, 4010, 849, 8611, 9500, 2551, 2553, 2552, 1013, 300, 1381, 5400, 6112, 3634, 1183, 3270, 3272, 925, 3271, 9077, 1590, 1591, 1589, 2299, 4192, 8469, 4758, 2180, 2181, 5014, 1112, 596, 539, 8397, 5791, 1621, 30207, 1620, 1059, 1619, 641, 8394, 1280, 2086, 2085, 9087, 10386, 7975, 11337, 6045, 10405, 5793, 2950, 2951, 5631, 4535, 1038, 7911, 1005, 2949, 779, 792, 531, 5900, 6478, 8497, 5464, 1146, 860, 1072, 6049, 5248, 9492, 2154, 5965, 5399, 2155, 2153, 6608, 974, 6605, 6606, 6682, 6607, 4076, 3887, 5957, 1380, 624, 4378, 682, 888, 928, 2282, 5968, 31657, 2421, 6397, 10488, 2420, 658, 8513, 2419, 1386, 548, 3638, 4019, 6137, 6473, 9227, 287, 8634, 8639, 32168, 7878, 8760, 657, 47, 5409, 1121, 8633, 1149, 6681, 3772, 895, 2361, 2360, 6742, 2359, 885, 6744, 6743, 6741, 581, 8654, 226, 2489, 2488, 2490, 8750, 224, 5453, 998, 6006, 1377, 6135, 470, 4954, 527, 603, 952, 129, 8612, 5, 571, 780, 5919, 5372, 6076, 5217, 4695, 752, 5193, 594, 4668, 5963, 5393, 9580, 9233, 9554, 4038, 394, 2384, 2385, 2383, 1887, 4841, 28455, 4674, 203, 9479, 10040, 1275, 119, 24758, 9493, 9700, 444, 9093, 949, 3733, 6839, 6840, 6838, 6837, 166, 9301, 95, 5051, 5613, 5988, 839, 8636, 5962, 5003, 10640, 7631, 7632, 2027, 2029, 2028, 5011, 614, 9487, 3790, 718, 4986, 8640, 113, 8637, 8528, 1299, 670, 3933, 54, 598, 1137, 13379, 3718, 4264, 577, 1164, 1143, 2051, 2052, 2053, 931, 5299, 4181, 2363, 686, 2362, 2364, 2637, 4448, 2636, 2635, 4693, 8693, 497, 6484, 6482, 6483, 4426, 4812, 7486, 7485, 7484, 7487, 7488, 3612, 4054, 631, 1041, 391, 6942, 6943, 6944, 6941, 6940, 8351, 5509, 106, 9480, 4990, 1710, 692, 1709, 8613, 520, 1711, 827, 5575, 10638, 5445, 223, 1828, 1863, 1864, 1862, 1789, 8725, 1787, 1827, 1788, 1826, 613, 9491, 612, 6146, 862, 9035, 2567, 2568, 2566, 3723, 5956, 7913, 9776, 1017, 6476, 8500, 3408, 3409, 3410, 471, 2487, 2485, 2486, 2642, 2643, 2641, 21597, 1082, 36, 5573, 5288, 5458, 9481, 1312, 254, 247, 197, 989, 11426, 10455, 4415, 4514, 6468, 1305, 893, 5415, 8716, 3782, 2571, 2570, 2569, 2016, 2017, 2015, 5556, 8614, 1376, 630, 9490, 480, 1116, 911, 9715, 9059, 8539, 267, 11421, 8227, 7917, 902, 10032, 5978, 722, 343, 3699, 4093, 6462, 181, 1561, 1559, 1560, 900, 9058, 982, 10675, 4000, 1581, 635, 1582, 1580, 705, 973, 6161, 4138, 75, 1320, 830, 9034, 9925, 4027, 10576, 1241, 8638, 289, 8225, 2381, 8484, 2380, 2382, 3917, 8800, 5945, 592, 6395, 26, 6052, 71, 3458, 3457, 3140, 3456, 3139, 3138, 8200, 1331, 10725, 1034, 10726, 10727, 10650, 13, 1042, 9489, 150, 10137, 10136, 10138, 10139, 6323, 11280, 9474, 550, 10280, 10283, 10282, 10281, 1211, 495, 7887, 6655, 3876, 708, 844, 629, 6386, 7957, 9501, 3473, 8011, 3471, 145, 5491, 3472, 6034, 619, 10397, 6424, 4770, 9498, 4511, 2190, 2188, 2189, 3742, 5454, 4004, 3540, 3541, 1063, 3542, 8534, 143, 10928, 6334, 8722, 4757, 1282, 6470, 9026, 5435, 8535, 10042, 10045, 10044, 10043, 4783, 8548, 6111, 867, 964, 10393, 5292, 1261, 10657, 252, 8024, 8028, 8025, 1098, 8026, 8027, 3842, 1593, 1094, 32, 1592, 1594, 6671, 10742, 125, 4375, 5449, 1607, 4303, 1609, 1608, 810, 9502, 8533, 8781, 7866, 7010, 8488, 4302, 4701, 5973, 4866, 7150, 7152, 7151, 1048, 2918, 3215, 8400, 1760, 1761, 3214, 3213, 3647, 1762, 5047, 10681, 5991, 431, 10272, 10274, 10273, 10275, 8525, 8635, 366, 6342, 578, 9221, 4493, 3431, 1209, 67, 6724, 3430, 2857, 3429, 3719, 196, 1092, 8833, 8553, 8610, 5637, 3913, 8530, 5195, 9047, 3851, 10573, 6723, 5548, 2024, 2026, 2025, 6722, 3771, 6721, 10545, 8552, 1150, 7785, 10494, 5428, 5437, 

In [23]:
df2

,user_id,content_id,user_answer,answered_correctly,prior_question_had_explanation
72413995,1541404974,2,0,1,True
27312813,581694640,2,0,1,True
47292043,999435206,2,3,0,True
72396122,1541231680,2,2,0,True
30920432,662847117,2,0,1,False
...,...,...,...,...,...
1673230,35570413,32312,-1,-1,False
51240098,1085789674,32312,-1,-1,False
13973581,302392588,32312,-1,-1,False
8654124,187671352,32312,-1,-1,False
74140075,1577046503,32312,-1,-1,False

In [15]:
df2=df2.reset_index()
df2=df2.sort_values('user_id')
df2=df2.drop(['index'],axis=1)
# df2=df2.drop(['level_0'],axis=1)
df2

             user_id  content_id  answered_correctly
0                115        5692                   1
23               115         185                   0
24               115          55                   1
25               115        7876                   1
26               115           6                   1
...              ...         ...                 ...
66462358  2147482888        5738                   1
66462357  2147482888        6147                   1
66462374  2147482888        6341                   1
66462365  2147482888        5334                   0
66462375  2147482888        4212                   1

[66462376 rows x 3 columns]

In [16]:
df2=df2.reset_index()

In [17]:
df2

             index     user_id  content_id  answered_correctly
0                0         115        5692                   1
1               23         115         185                   0
2               24         115          55                   1
3               25         115        7876                   1
4               26         115           6                   1
...            ...         ...         ...                 ...
66462371  66462358  2147482888        5738                   1
66462372  66462357  2147482888        6147                   1
66462373  66462374  2147482888        6341                   1
66462374  66462365  2147482888        5334                   0
66462375  66462375  2147482888        4212                   1

[66462376 rows x 4 columns]

In [18]:
group_df=df2.groupby(['user_id','content_id']).mean()
group_df

                            index  answered_correctly
user_id    content_id
115        4                 20.0                 0.0
           6                 26.0                 1.0
           25                16.0                 1.0
           45                22.0                 0.0
           50                 7.0                 1.0
...                           ...                 ...
2147482888 6147        66462357.0                 1.0
           6341        66462374.0                 1.0
           6435        66462362.0                 0.0
           7956        66462361.0                 1.0
           9283        66462363.0                 0.0

[57161156 rows x 2 columns]

In [19]:
group_df.to_csv('./data/groupbyuser.csv')

In [20]:
len(group_df)

3437

In [24]:
df_table = pd.pivot_table(group_df, values ='answered_correctly',index ='user_id',columns='content_id', fill_value='')
# df_table = group_df.set_index(["user_id", "content_id"]).unstack()
df_table.shape

(39, 3039)

In [22]:
df_table.to_csv('./data/Rmatrix.csv')