In [1]:
import pandas as pd
data_path = './data/train.csv'
df = pd.read_csv(data_path)
df

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,NaN
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False
...,...,...,...,...,...,...,...,...,...,...
101230327,101230327,428564420,2147482888,3586,0,22,0,1,18000.0,True
101230328,101230328,428585000,2147482888,6341,0,23,3,1,14000.0,True
101230329,101230329,428613475,2147482888,4212,0,24,3,1,14000.0,True
101230330,101230330,428649406,2147482888,6343,0,25,1,0,22000.0,True
101230331,101230331,428692118,2147482888,7995,0,26,3,1,29000.0,True

In [2]:
df1 = df.drop(['row_id', 'content_type_id', 'task_container_id', 'prior_question_had_explanation'], axis=1)
df1 = df1[df1['answered_correctly'] != -1]
df1

,timestamp,user_id,content_id,user_answer,answered_correctly,prior_question_elapsed_time
0,0,115,5692,3,1,NaN
1,56943,115,5716,2,1,37000.0
2,118363,115,128,0,1,55000.0
3,131167,115,7860,0,1,19000.0
4,137965,115,7922,1,1,11000.0
...,...,...,...,...,...,...
101230327,428564420,2147482888,3586,0,1,18000.0
101230328,428585000,2147482888,6341,3,1,14000.0
101230329,428613475,2147482888,4212,3,1,14000.0
101230330,428649406,2147482888,6343,1,0,22000.0
101230331,428692118,2147482888,7995,3,1,29000.0

In [3]:
group_df = df1['content_id'].value_counts().reset_index()
group_df.columns = ['content_id', 'count']
group_df = group_df.sort_values('count', ascending=False)
group_df

       content_id   count
0            6116  213605
1            6173  202106
2            4120  199372
3             175  195861
4            7876  190170
...           ...     ...
13518       10005       1
13519       10006       1
13520       10007       1
13521       10008       1
13522        1486       1

[13523 rows x 2 columns]

In [4]:
sorted_group_df = group_df[:3624]
sorted_group_df

      content_id   count
0           6116  213605
1           6173  202106
2           4120  199372
3            175  195861
4           7876  190170
...          ...     ...
3619        9027    8043
3620         348    8041
3621        8538    8038
3622        4469    8034
3623        8605    8031

[3624 rows x 2 columns]

In [5]:
sorted_group_list = sorted_group_df.content_id.tolist()
# sorted_group_list

In [6]:
df1.content_id.isin(sorted_group_list)

0             True
1             True
2             True
3             True
4             True
             ...
101230327    False
101230328     True
101230329     True
101230330    False
101230331    False
Name: content_id, Length: 99271300, dtype: bool

In [7]:
df1

,timestamp,user_id,content_id,user_answer,answered_correctly,prior_question_elapsed_time
0,0,115,5692,3,1,NaN
1,56943,115,5716,2,1,37000.0
2,118363,115,128,0,1,55000.0
3,131167,115,7860,0,1,19000.0
4,137965,115,7922,1,1,11000.0
...,...,...,...,...,...,...
101230327,428564420,2147482888,3586,0,1,18000.0
101230328,428585000,2147482888,6341,3,1,14000.0
101230329,428613475,2147482888,4212,3,1,14000.0
101230330,428649406,2147482888,6343,1,0,22000.0
101230331,428692118,2147482888,7995,3,1,29000.0

In [8]:
df2 = df1.loc[df1.content_id.isin(sorted_group_list)]
df2

,timestamp,user_id,content_id,user_answer,answered_correctly,prior_question_elapsed_time
0,0,115,5692,3,1,NaN
1,56943,115,5716,2,1,37000.0
2,118363,115,128,0,1,55000.0
3,131167,115,7860,0,1,19000.0
4,137965,115,7922,1,1,11000.0
...,...,...,...,...,...,...
101230322,428415725,2147482888,5005,1,0,30000.0
101230324,428466169,2147482888,5591,3,1,26000.0
101230325,428517313,2147482888,6128,1,1,11000.0
101230328,428585000,2147482888,6341,3,1,14000.0
101230329,428613475,2147482888,4212,3,1,14000.0

In [9]:
df2=df2.sort_values(by=['content_id'])
df2

,timestamp,user_id,content_id,user_answer,answered_correctly,prior_question_elapsed_time
78729092,75016,1675520811,2,0,1,18000.0
83792816,1114269973,1785241058,2,2,0,25000.0
11723063,797016590,254130576,2,0,1,22000.0
76590825,3268485,1630645312,2,3,0,25000.0
84528144,44640,1800429495,2,0,1,14000.0
...,...,...,...,...,...,...
54518057,1803614427,1155620027,11426,3,1,20000.0
4160437,702723595,88308471,11426,3,1,22000.0
66297156,26840746373,1408837808,11426,1,0,147000.0
17387864,2082977470,373521084,11426,3,1,21000.0
6756811,16006131227,147174392,11426,1,0,43000.0

In [10]:
df2

,timestamp,user_id,content_id,user_answer,answered_correctly,prior_question_elapsed_time
78729092,75016,1675520811,2,0,1,18000.0
83792816,1114269973,1785241058,2,2,0,25000.0
11723063,797016590,254130576,2,0,1,22000.0
76590825,3268485,1630645312,2,3,0,25000.0
84528144,44640,1800429495,2,0,1,14000.0
...,...,...,...,...,...,...
54518057,1803614427,1155620027,11426,3,1,20000.0
4160437,702723595,88308471,11426,3,1,22000.0
66297156,26840746373,1408837808,11426,1,0,147000.0
17387864,2082977470,373521084,11426,3,1,21000.0
6756811,16006131227,147174392,11426,1,0,43000.0

In [11]:
df2=df2.reset_index()
df2=df2.sort_values('content_id')
# df2=df2.drop(['index'],axis=1)
# df2=df2.drop(['level_0'],axis=1)
df2

,index,timestamp,user_id,content_id,user_answer,answered_correctly,prior_question_elapsed_time
0,78729092,75016,1675520811,2,0,1,18000.0
29932,50021814,1675292010,1060183986,2,3,0,23000.0
29933,86690873,196084219,1845124288,2,0,1,27000.0
29934,4795292,447744846,102195970,2,3,0,26000.0
29935,18616529,2361234701,400404037,2,0,1,14000.0
...,...,...,...,...,...,...,...
65685153,54344279,4550150159,1151815112,11426,2,0,11000.0
65685154,44671949,232050,945976676,11426,2,0,57000.0
65685155,59519086,259086678,1263046732,11426,2,0,32000.0
65685247,16462959,4712229028,353724775,11426,0,0,17000.0
65691306,6756811,16006131227,147174392,11426,1,0,43000.0

In [12]:
df2=df2.drop(['index'],axis=1)
df2

,timestamp,user_id,content_id,user_answer,answered_correctly,prior_question_elapsed_time
0,75016,1675520811,2,0,1,18000.0
29932,1675292010,1060183986,2,3,0,23000.0
29933,196084219,1845124288,2,0,1,27000.0
29934,447744846,102195970,2,3,0,26000.0
29935,2361234701,400404037,2,0,1,14000.0
...,...,...,...,...,...,...
65685153,4550150159,1151815112,11426,2,0,11000.0
65685154,232050,945976676,11426,2,0,57000.0
65685155,259086678,1263046732,11426,2,0,32000.0
65685247,4712229028,353724775,11426,0,0,17000.0
65691306,16006131227,147174392,11426,1,0,43000.0

In [20]:
df2=df2.reset_index('content_id')
df2

MemoryError: Unable to allocate 3.43 GiB for an array with shape (7, 65691307) and data type int64

In [16]:
df2

,level_0,index,timestamp,user_id,content_id,user_answer,answered_correctly,prior_question_elapsed_time
0,0,0,75016,1675520811,2,0,1,18000.0
1,1,29932,1675292010,1060183986,2,3,0,23000.0
2,2,29933,196084219,1845124288,2,0,1,27000.0
3,3,29934,447744846,102195970,2,3,0,26000.0
4,4,29935,2361234701,400404037,2,0,1,14000.0
...,...,...,...,...,...,...,...,...
65691302,65691302,65685153,4550150159,1151815112,11426,2,0,11000.0
65691303,65691303,65685154,232050,945976676,11426,2,0,57000.0
65691304,65691304,65685155,259086678,1263046732,11426,2,0,32000.0
65691305,65691305,65685247,4712229028,353724775,11426,0,0,17000.0
65691306,65691306,65691306,16006131227,147174392,11426,1,0,43000.0

In [18]:
group_df=df2.groupby(['user_id','content_id']).mean()
group_df

                            index  answered_correctly
user_id    content_id
115        4                 20.0                 0.0
           6                 26.0                 1.0
           25                16.0                 1.0
           45                22.0                 0.0
           50                 7.0                 1.0
...                           ...                 ...
2147482888 6147        66462357.0                 1.0
           6341        66462374.0                 1.0
           6435        66462362.0                 0.0
           7956        66462361.0                 1.0
           9283        66462363.0                 0.0

[57161156 rows x 2 columns]

In [19]:
group_df.to_csv('./data/groupbyuser.csv')

In [20]:
len(group_df)

3437

In [24]:
df_table = pd.pivot_table(group_df, values ='answered_correctly',index ='user_id',columns='content_id', fill_value='')
# df_table = group_df.set_index(["user_id", "content_id"]).unstack()
df_table.shape

(39, 3039)

In [22]:
df_table.to_csv('./data/Rmatrix.csv')