In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/groupbyuser.csv')
df

,user_id,content_id,timestamp,user_answer,answered_correctly,prior_question_elapsed_time
0,115,4,490100.0,1.0,0.0,29000.0
1,115,6,621464.0,2.0,1.0,20000.0
2,115,25,398020.0,1.0,1.0,21000.0
3,115,45,534187.0,2.0,0.0,19000.0
4,115,50,194190.0,3.0,1.0,17000.0
...,...,...,...,...,...,...
56425299,2147482888,6147,0.0,0.0,1.0,NaN
56425300,2147482888,6341,428585000.0,3.0,1.0,14000.0
56425301,2147482888,6435,152682.0,0.0,0.0,20000.0
56425302,2147482888,7956,109739.0,0.0,1.0,16000.0
56425303,2147482888,9283,253883847.0,0.0,0.0,41000.0

In [3]:
df2=df.user_id.value_counts()
df2
df2=df2[df2>3000]
df2
df2_list=df2.index.tolist()
df2

40224694      3620
7171715       3612
1703582144    3611
1950855874    3607
314180295     3605
              ...
1573152469    3003
761195752     3003
1695578664    3002
1412926620    3001
1392734491    3001
Name: user_id, Length: 363, dtype: int64

In [4]:
df.user_id.isin(df2_list)

0           False
1           False
2           False
3           False
4           False
            ...
56425299    False
56425300    False
56425301    False
56425302    False
56425303    False
Name: user_id, Length: 56425304, dtype: bool

In [5]:
df.user_id.isin(df2_list)
df2 = df.loc[df.user_id.isin(df2_list)]
df2

,user_id,content_id,timestamp,user_answer,answered_correctly,prior_question_elapsed_time
200841,7171715,2,1.049494e+08,1.5,0.5,12500.0
200842,7171715,3,1.081720e+06,0.0,1.0,1000.0
200843,7171715,4,6.551641e+06,2.0,0.0,2000.0
200844,7171715,5,7.164126e+06,3.0,0.0,5000.0
200845,7171715,6,1.049930e+08,1.0,0.5,13500.0
...,...,...,...,...,...,...
56348825,2144901781,10726,2.311947e+09,0.0,0.0,24666.0
56348826,2144901781,10727,2.311947e+09,2.0,0.0,24666.0
56348827,2144901781,11231,3.981166e+09,0.0,0.0,21000.0
56348828,2144901781,11254,4.462140e+09,2.0,0.0,28000.0
56348829,2144901781,11386,5.361148e+09,2.0,1.0,20000.0

In [6]:
df2 = df2.sort_values('content_id')

In [7]:
df2

,user_id,content_id,timestamp,user_answer,answered_correctly,prior_question_elapsed_time
200841,7171715,2,1.049494e+08,1.500000,0.500000,12500.000000
44562436,1701923186,2,1.253318e+09,2.000000,0.000000,16000.000000
44390042,1695578664,2,1.756751e+08,1.000000,0.000000,0.000000
6921626,269828787,2,2.280706e+10,0.666667,0.666667,24666.666667
44386433,1695568554,2,1.465653e+09,0.000000,1.000000,31000.000000
...,...,...,...,...,...,...
9357784,360996504,11426,2.894916e+10,0.000000,0.000000,37000.000000
46843129,1789370835,11426,5.168481e+10,3.000000,1.000000,33000.000000
35800468,1365217602,11426,3.492548e+10,1.000000,0.000000,12500.000000
17943630,689295320,11426,2.315946e+09,1.000000,0.000000,8000.000000
47528754,1815478584,11426,1.866148e+10,0.000000,0.000000,10000.000000

In [8]:
n= len(df2['content_id'].unique())
series1=df2['content_id'].replace([x for x in df2['content_id'].unique()],[x for x in range(1,n+1)])
series1

200841         1
44562436       1
44390042       1
6921626        1
44386433       1
            ...
9357784     3624
46843129    3624
35800468    3624
17943630    3624
47528754    3624
Name: content_id, Length: 1176193, dtype: int64

In [9]:
type(series1)

pandas.core.series.Series

In [10]:
s_to_d=series1.to_frame()

In [11]:
df2=df2.drop(['content_id'], axis=1)
df2

,user_id,timestamp,user_answer,answered_correctly,prior_question_elapsed_time
200841,7171715,1.049494e+08,1.500000,0.500000,12500.000000
44562436,1701923186,1.253318e+09,2.000000,0.000000,16000.000000
44390042,1695578664,1.756751e+08,1.000000,0.000000,0.000000
6921626,269828787,2.280706e+10,0.666667,0.666667,24666.666667
44386433,1695568554,1.465653e+09,0.000000,1.000000,31000.000000
...,...,...,...,...,...
9357784,360996504,2.894916e+10,0.000000,0.000000,37000.000000
46843129,1789370835,5.168481e+10,3.000000,1.000000,33000.000000
35800468,1365217602,3.492548e+10,1.000000,0.000000,12500.000000
17943630,689295320,2.315946e+09,1.000000,0.000000,8000.000000
47528754,1815478584,1.866148e+10,0.000000,0.000000,10000.000000

In [12]:
newdf=pd.merge(s_to_d,df2, left_index=True , right_index=True ,how='left')

In [13]:
newdf

,content_id,user_id,timestamp,user_answer,answered_correctly,prior_question_elapsed_time
200841,1,7171715,1.049494e+08,1.500000,0.500000,12500.000000
44562436,1,1701923186,1.253318e+09,2.000000,0.000000,16000.000000
44390042,1,1695578664,1.756751e+08,1.000000,0.000000,0.000000
6921626,1,269828787,2.280706e+10,0.666667,0.666667,24666.666667
44386433,1,1695568554,1.465653e+09,0.000000,1.000000,31000.000000
...,...,...,...,...,...,...
9357784,3624,360996504,2.894916e+10,0.000000,0.000000,37000.000000
46843129,3624,1789370835,5.168481e+10,3.000000,1.000000,33000.000000
35800468,3624,1365217602,3.492548e+10,1.000000,0.000000,12500.000000
17943630,3624,689295320,2.315946e+09,1.000000,0.000000,8000.000000
47528754,3624,1815478584,1.866148e+10,0.000000,0.000000,10000.000000

In [14]:
df2 = newdf.sort_values('user_id')  
df2

,content_id,user_id,timestamp,user_answer,answered_correctly,prior_question_elapsed_time
200841,1,7171715,1.049494e+08,1.5,0.5,12500.0
203403,2564,7171715,1.265955e+08,2.0,0.0,0.0
202526,1687,7171715,1.382894e+08,2.0,1.0,2000.0
201714,875,7171715,7.387363e+06,3.0,1.0,9000.0
202915,2076,7171715,4.049406e+07,3.0,0.0,0.0
...,...,...,...,...,...,...
56346673,1051,2144901781,3.640163e+09,1.0,0.0,15000.0
56348308,2880,2144901781,3.075743e+09,0.0,0.0,40750.0
56347863,2427,2144901781,2.309024e+09,2.0,0.0,19000.0
56347434,1988,2144901781,1.891488e+09,3.0,0.0,17000.0
56346349,727,2144901781,4.329190e+09,3.0,1.0,15000.0

In [15]:
n= len(df2['user_id'].unique())
series2=df2['user_id'].replace([x for x in df2['user_id'].unique()],[x for x in range(1,n+1)])
series2

200841        1
203403        1
202526        1
201714        1
202915        1
           ...
56346673    363
56348308    363
56347863    363
56347434    363
56346349    363
Name: user_id, Length: 1176193, dtype: int64

In [16]:
s_to_d2=series2.to_frame()

In [17]:
df2=df2.drop(['user_id'],axis=1)

In [18]:
newdf=pd.merge(s_to_d2,df2, left_index=True , right_index=True ,how='left')

In [19]:

newdf

,user_id,content_id,timestamp,user_answer,answered_correctly,prior_question_elapsed_time
200841,1,1,1.049494e+08,1.5,0.5,12500.0
203403,1,2564,1.265955e+08,2.0,0.0,0.0
202526,1,1687,1.382894e+08,2.0,1.0,2000.0
201714,1,875,7.387363e+06,3.0,1.0,9000.0
202915,1,2076,4.049406e+07,3.0,0.0,0.0
...,...,...,...,...,...,...
56346673,363,1051,3.640163e+09,1.0,0.0,15000.0
56348308,363,2880,3.075743e+09,0.0,0.0,40750.0
56347863,363,2427,2.309024e+09,2.0,0.0,19000.0
56347434,363,1988,1.891488e+09,3.0,0.0,17000.0
56346349,363,727,4.329190e+09,3.0,1.0,15000.0

In [20]:
newdf.to_csv('./data/newreindex.csv')