In [1]:
import pandas as pd
data_path = './data/train.csv'
df = pd.read_csv(data_path)

In [2]:
df1 = df.drop(['row_id', 'content_type_id', 'task_container_id', 'prior_question_had_explanation'], axis=1)
df1 = df1[df1['answered_correctly'] != -1]
df1

,timestamp,user_id,content_id,user_answer,answered_correctly,prior_question_elapsed_time
0,0,115,5692,3,1,NaN
1,56943,115,5716,2,1,37000.0
2,118363,115,128,0,1,55000.0
3,131167,115,7860,0,1,19000.0
4,137965,115,7922,1,1,11000.0
...,...,...,...,...,...,...
101230327,428564420,2147482888,3586,0,1,18000.0
101230328,428585000,2147482888,6341,3,1,14000.0
101230329,428613475,2147482888,4212,3,1,14000.0
101230330,428649406,2147482888,6343,1,0,22000.0
101230331,428692118,2147482888,7995,3,1,29000.0

In [3]:
group_df=df1['content_id'].value_counts()

In [4]:
sorted_group_df=group_df.sort_values(ascending=False)

In [5]:
sorted_group_df=sorted_group_df[:3624]

In [6]:
sorted_group_list=sorted_group_df.index.tolist()

In [7]:
df1.content_id.isin(sorted_group_list)

0             True
1             True
2             True
3             True
4             True
             ...
101230327    False
101230328     True
101230329     True
101230330    False
101230331    False
Name: content_id, Length: 99271300, dtype: bool

In [8]:
df2 = df1.loc[df1.content_id.isin(sorted_group_list)]

In [9]:
df2=df2.reset_index()
df2=df2.sort_values('user_id')
df2=df2.drop(['index'],axis=1)
df2

,timestamp,user_id,content_id,user_answer,answered_correctly,prior_question_elapsed_time
0,0,115,5692,3,1,NaN
23,557677,115,185,3,0,21000.0
24,575289,115,55,3,1,22000.0
25,597863,115,7876,3,1,16000.0
26,621464,115,6,2,1,20000.0
...,...,...,...,...,...,...
65691289,44458,2147482888,5738,2,1,18000.0
65691288,0,2147482888,6147,0,1,NaN
65691305,428585000,2147482888,6341,3,1,14000.0
65691296,253977782,2147482888,5334,3,0,30000.0
65691306,428613475,2147482888,4212,3,1,14000.0

In [10]:
df2=df2.reset_index()

In [11]:
df2=df2.drop(['index'],axis=1)

In [12]:
df2=df.user_id.value_counts()
df2
df2=df2[df2>3000]
df2
df2_list=df2.index.tolist()
df2

801103753     17917
1478712595    16914
1842816145    16851
455973631     16789
1660941992    16777
              ...
475478663      3002
1610617752     3002
1486096260     3002
1370460852     3002
1051091275     3001
Name: user_id, Length: 5257, dtype: int64

In [13]:
df1.user_id.isin(df2_list)

0            False
1            False
2            False
3            False
4            False
             ...
101230327    False
101230328    False
101230329    False
101230330    False
101230331    False
Name: user_id, Length: 99271300, dtype: bool

In [14]:
df1.user_id.isin(df2_list)
df2 = df1.loc[df.user_id.isin(df2_list)]
df2

,timestamp,user_id,content_id,user_answer,answered_correctly,prior_question_elapsed_time
1874,0,24418,7900,2,0,NaN
1875,24224,24418,7876,2,0,30000.0
1876,51020,24418,175,2,1,20000.0
1877,70540,24418,1278,3,1,24000.0
1878,88142,24418,2065,1,0,17000.0
...,...,...,...,...,...,...
101227583,23058371193,2147413636,1587,3,1,27667.0
101227584,23058371193,2147413636,1588,2,0,27667.0
101227585,23223826243,2147413636,1357,0,1,31333.0
101227586,23223893785,2147413636,1180,0,1,17000.0
101227587,23224101531,2147413636,1256,1,0,15000.0

In [15]:
df2 = df2.sort_values('content_id')
df2

,timestamp,user_id,content_id,user_answer,answered_correctly,prior_question_elapsed_time
68459043,1837265583,1456724937,0,0,1,21000.0
14783780,9815127916,318576945,0,0,1,19000.0
46565253,20118955247,984324327,0,0,1,103200.0
95644002,491444320,2028864055,0,0,1,7000.0
3718020,20348607441,79985214,0,0,1,25000.0
...,...,...,...,...,...,...
40831617,33266602620,868220474,13522,3,1,13000.0
5454616,36051438464,116494957,13522,3,1,21000.0
27284237,67282544234,581489549,13522,3,1,11000.0
91918541,14389783142,1950701558,13522,3,1,17000.0
35359202,30146992214,756207295,13522,3,1,10000.0

In [16]:
df2['content_id']

68459043        0
14783780        0
46565253        0
95644002        0
3718020         0
            ...
40831617    13522
5454616     13522
27284237    13522
91918541    13522
35359202    13522
Name: content_id, Length: 26863601, dtype: int64

In [18]:
n= len(df2['content_id'].unique())
series1=df2['content_id'].replace([x for x in df2['content_id'].unique()],[x for x in range(1,n+1)])
series1

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'int64'

In [ ]:
s_to_d=series1.to_frame()

In [ ]:
df2=df2.drop(['content_id'], axis=1)
df2

In [ ]:
newdf=pd.merge(s_to_d,df2, left_index=True , right_index=True ,how='left')

In [ ]:
df2 = newdf.sort_values('user_id')  
df2

In [ ]:
n= len(df2['user_id'].unique())
series2=df2['user_id'].replace([x for x in df2['user_id'].unique()],[x for x in range(1,n+1)])
series2

In [ ]:
s_to_d2=series2.to_frame()

In [ ]:
df2=df2.drop(['user_id'],axis=1)

In [ ]:
newdf=pd.merge(s_to_d2,df2, left_index=True , right_index=True ,how='left')

In [ ]:
newdf.to_csv('./data/newreindex.csv')

In [ ]:
group_df=df2.groupby(['user_id','content_id'])['answered_correctly'].mean()
group_df

In [ ]:
group_df.to_csv('./data/groupby.csv')