In [6]:
# import pandas as pd
# data_path = './data/train.csv'
# df = pd.read_csv(data_path)

In [7]:
# df1 = df.drop(['row_id', 'content_type_id', 'task_container_id', 'prior_question_had_explanation'], axis=1)
# df1 = df1[df1['answered_correctly'] != -1]
# df1

,timestamp,user_id,content_id,user_answer,answered_correctly,prior_question_elapsed_time
0,0,115,5692,3,1,NaN
1,56943,115,5716,2,1,37000.0
2,118363,115,128,0,1,55000.0
3,131167,115,7860,0,1,19000.0
4,137965,115,7922,1,1,11000.0
...,...,...,...,...,...,...
101230327,428564420,2147482888,3586,0,1,18000.0
101230328,428585000,2147482888,6341,3,1,14000.0
101230329,428613475,2147482888,4212,3,1,14000.0
101230330,428649406,2147482888,6343,1,0,22000.0
101230331,428692118,2147482888,7995,3,1,29000.0

In [8]:
# df1.to_csv("no-1.csv")

In [1]:
import pandas as pd
import numpy as np
data_path = './no-1.csv'
df = pd.read_csv(data_path)
df = df.assign(user_name=np.nan, password=np.nan)
df.rename(columns = {'content_id' : 'qId'}, inplace=True)
df

,Unnamed: 0,timestamp,user_id,qId,user_answer,answered_correctly,prior_question_elapsed_time,user_name,password
0,0,0,115,5692,3,1,NaN,NaN,NaN
1,1,56943,115,5716,2,1,37000.0,NaN,NaN
2,2,118363,115,128,0,1,55000.0,NaN,NaN
3,3,131167,115,7860,0,1,19000.0,NaN,NaN
4,4,137965,115,7922,1,1,11000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
99271295,101230327,428564420,2147482888,3586,0,1,18000.0,NaN,NaN
99271296,101230328,428585000,2147482888,6341,3,1,14000.0,NaN,NaN
99271297,101230329,428613475,2147482888,4212,3,1,14000.0,NaN,NaN
99271298,101230330,428649406,2147482888,6343,1,0,22000.0,NaN,NaN
99271299,101230331,428692118,2147482888,7995,3,1,29000.0,NaN,NaN

In [2]:
group_df=df['qId'].value_counts()
sorted_group_df=group_df.sort_values(ascending=False)

In [3]:
sorted_group_df=sorted_group_df[15:215]
sorted_group_df

6370    169945
2946    167589
2947    167589
2948    167588
2594    160858
         ...
5271     36833
7942     36773
3988     36758
291      36724
5181     36688
Name: qId, Length: 200, dtype: int64

In [4]:
sorted_group_list=sorted_group_df.index.tolist()

In [5]:
df.qId.isin(sorted_group_list)

0           False
1           False
2           False
3           False
4           False
            ...
99271295    False
99271296    False
99271297    False
99271298    False
99271299    False
Name: qId, Length: 99271300, dtype: bool

In [6]:
df2 = df.loc[df.qId.isin(sorted_group_list)]
df2

,Unnamed: 0,timestamp,user_id,qId,user_answer,answered_correctly,prior_question_elapsed_time,user_name,password
9,9,230983,115,7863,0,1,16000.0,NaN,NaN
23,23,557677,115,185,3,0,21000.0,NaN,NaN
24,24,575289,115,55,3,1,22000.0,NaN,NaN
26,26,621464,115,6,2,1,20000.0,NaN,NaN
28,28,670520,115,7898,2,1,22000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
99271279,101230311,152682,2147482888,6435,0,0,20000.0,NaN,NaN
99271280,101230312,253883847,2147482888,9283,0,0,41000.0,NaN,NaN
99271284,101230316,254461924,2147482888,4702,3,0,102000.0,NaN,NaN
99271285,101230317,254505467,2147482888,3642,1,0,33000.0,NaN,NaN
99271288,101230320,428190226,2147482888,4496,0,1,25000.0,NaN,NaN

In [7]:
df2.to_csv("중복되는content제거-2.csv")

In [8]:

df2=df2.sort_values('user_id')
df2=df2.reset_index()
df2

,index,Unnamed: 0,timestamp,user_id,qId,user_answer,answered_correctly,prior_question_elapsed_time,user_name,password
0,9,9,230983,115,7863,0,1,16000.0,NaN,NaN
1,23,23,557677,115,185,3,0,21000.0,NaN,NaN
2,24,24,575289,115,55,3,1,22000.0,NaN,NaN
3,26,26,621464,115,6,2,1,20000.0,NaN,NaN
4,28,28,670520,115,7898,2,1,22000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12146541,99271285,101230317,254505467,2147482888,3642,1,0,33000.0,NaN,NaN
12146542,99271279,101230311,152682,2147482888,6435,0,0,20000.0,NaN,NaN
12146543,99271280,101230312,253883847,2147482888,9283,0,0,41000.0,NaN,NaN
12146544,99271284,101230316,254461924,2147482888,4702,3,0,102000.0,NaN,NaN
12146545,99271288,101230320,428190226,2147482888,4496,0,1,25000.0,NaN,NaN

In [9]:
df2=df2.drop(['index'],axis=1)
df2

,Unnamed: 0,timestamp,user_id,qId,user_answer,answered_correctly,prior_question_elapsed_time,user_name,password
0,9,230983,115,7863,0,1,16000.0,NaN,NaN
1,23,557677,115,185,3,0,21000.0,NaN,NaN
2,24,575289,115,55,3,1,22000.0,NaN,NaN
3,26,621464,115,6,2,1,20000.0,NaN,NaN
4,28,670520,115,7898,2,1,22000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
12146541,101230317,254505467,2147482888,3642,1,0,33000.0,NaN,NaN
12146542,101230311,152682,2147482888,6435,0,0,20000.0,NaN,NaN
12146543,101230312,253883847,2147482888,9283,0,0,41000.0,NaN,NaN
12146544,101230316,254461924,2147482888,4702,3,0,102000.0,NaN,NaN
12146545,101230320,428190226,2147482888,4496,0,1,25000.0,NaN,NaN

In [10]:
df2=df2.user_id.value_counts()
df2

1509564249    1935
1828242828     878
323509977      834
1931752413     818
111739511      797
              ...
155587016        1
276195138        1
1403051413       1
179582763        1
57233416         1
Name: user_id, Length: 383356, dtype: int64

In [11]:
df2=df2[df2>700]
df2

1509564249    1935
1828242828     878
323509977      834
1931752413     818
111739511      797
499347415      768
1144446353     762
1806690580     715
1913693773     709
160770014      701
Name: user_id, dtype: int64

In [12]:
df2_list=df2.index.tolist()

In [13]:
df3 = pd.read_csv("중복되는content제거-2.csv")

In [14]:
df3=df3.sort_values('user_id')

df3=df3.reset_index()
df3

,index,Unnamed: 0,Unnamed: 0.1,timestamp,user_id,qId,user_answer,answered_correctly,prior_question_elapsed_time,user_name,password
0,0,9,9,230983,115,7863,0,1,16000.0,NaN,NaN
1,1,23,23,557677,115,185,3,0,21000.0,NaN,NaN
2,2,24,24,575289,115,55,3,1,22000.0,NaN,NaN
3,3,26,26,621464,115,6,2,1,20000.0,NaN,NaN
4,4,28,28,670520,115,7898,2,1,22000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12146541,12146544,99271285,101230317,254505467,2147482888,3642,1,0,33000.0,NaN,NaN
12146542,12146541,99271279,101230311,152682,2147482888,6435,0,0,20000.0,NaN,NaN
12146543,12146542,99271280,101230312,253883847,2147482888,9283,0,0,41000.0,NaN,NaN
12146544,12146543,99271284,101230316,254461924,2147482888,4702,3,0,102000.0,NaN,NaN
12146545,12146545,99271288,101230320,428190226,2147482888,4496,0,1,25000.0,NaN,NaN

In [15]:
df3=df3.drop(['index',"Unnamed: 0"],axis=1)
df3

,Unnamed: 0.1,timestamp,user_id,qId,user_answer,answered_correctly,prior_question_elapsed_time,user_name,password
0,9,230983,115,7863,0,1,16000.0,NaN,NaN
1,23,557677,115,185,3,0,21000.0,NaN,NaN
2,24,575289,115,55,3,1,22000.0,NaN,NaN
3,26,621464,115,6,2,1,20000.0,NaN,NaN
4,28,670520,115,7898,2,1,22000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
12146541,101230317,254505467,2147482888,3642,1,0,33000.0,NaN,NaN
12146542,101230311,152682,2147482888,6435,0,0,20000.0,NaN,NaN
12146543,101230312,253883847,2147482888,9283,0,0,41000.0,NaN,NaN
12146544,101230316,254461924,2147482888,4702,3,0,102000.0,NaN,NaN
12146545,101230320,428190226,2147482888,4496,0,1,25000.0,NaN,NaN

In [16]:
df3.user_id.isin(df2_list)

0           False
1           False
2           False
3           False
4           False
            ...
12146541    False
12146542    False
12146543    False
12146544    False
12146545    False
Name: user_id, Length: 12146546, dtype: bool

In [17]:
df2

1509564249    1935
1828242828     878
323509977      834
1931752413     818
111739511      797
499347415      768
1144446353     762
1806690580     715
1913693773     709
160770014      701
Name: user_id, dtype: int64

In [18]:

df3 = df3.loc[df3.user_id.isin(df2_list)]
df3

,Unnamed: 0.1,timestamp,user_id,qId,user_answer,answered_correctly,prior_question_elapsed_time,user_name,password
628924,5220314,16625107682,111739511,4428,0,1,11000.0,NaN,NaN
628925,5220354,16764659385,111739511,1291,3,1,18000.0,NaN,NaN
628926,5220356,16764761879,111739511,9,2,0,18000.0,NaN,NaN
628927,5220361,16765366363,111739511,189,2,0,28000.0,NaN,NaN
628928,5220403,16793994937,111739511,4108,0,1,18000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10919967,91009266,572877491,1931752413,6318,0,1,8000.0,NaN,NaN
10919968,91009271,573033077,1931752413,834,3,1,5000.0,NaN,NaN
10919969,91009273,573113457,1931752413,10686,0,1,8000.0,NaN,NaN
10919970,91009253,544013375,1931752413,2594,2,1,6000.0,NaN,NaN
10919971,91009277,573514874,1931752413,972,0,1,6000.0,NaN,NaN

In [19]:
df3.to_csv("500문제이상.csv")

In [20]:
df3 = df3.sort_values('qId')
df3

,Unnamed: 0.1,timestamp,user_id,qId,user_answer,answered_correctly,prior_question_elapsed_time,user_name,password
2809368,23322058,18069260350,499347415,2,0,1,23000.0,NaN,NaN
2809380,23321985,17889836158,499347415,2,0,1,21000.0,NaN,NaN
629138,5225021,22501369517,111739511,2,0,1,14000.0,NaN,NaN
10814331,90106161,11614783741,1913693773,2,0,1,21000.0,NaN,NaN
2809544,23322393,19622647552,499347415,2,0,1,6000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10919535,91010513,1337051628,1931752413,10688,0,1,8000.0,NaN,NaN
897929,7402323,7529147251,160770014,10688,0,1,15000.0,NaN,NaN
10814360,90106846,12048578210,1913693773,10688,0,1,16000.0,NaN,NaN
1812326,14997729,865101234,323509977,10688,1,0,27000.0,NaN,NaN
6463898,53986212,33784593525,1144446353,10688,0,1,15000.0,NaN,NaN

In [21]:
df3['qId']

2809368         2
2809380         2
629138          2
10814331        2
2809544         2
            ...
10919535    10688
897929      10688
10814360    10688
1812326     10688
6463898     10688
Name: qId, Length: 8917, dtype: int64

In [22]:
n= len(df3['qId'].unique())
series1=df3['qId'].replace([x for x in df3['qId'].unique()],[x for x in range(0,n)])
series1

2809368       0
2809380       0
629138        0
10814331      0
2809544       0
           ...
10919535    199
897929      199
10814360    199
1812326     199
6463898     199
Name: qId, Length: 8917, dtype: int64

In [23]:
s_to_d=series1.to_frame()
s_to_d

          qId
2809368     0
2809380     0
629138      0
10814331    0
2809544     0
...       ...
10919535  199
897929    199
10814360  199
1812326   199
6463898   199

[8917 rows x 1 columns]

In [24]:
df3=df3.drop(['qId'], axis=1)

In [25]:
newdf=pd.merge(s_to_d,df3, left_index=True , right_index=True ,how='left')

In [26]:
newdf

,qId,Unnamed: 0.1,timestamp,user_id,user_answer,answered_correctly,prior_question_elapsed_time,user_name,password
2809368,0,23322058,18069260350,499347415,0,1,23000.0,NaN,NaN
2809380,0,23321985,17889836158,499347415,0,1,21000.0,NaN,NaN
629138,0,5225021,22501369517,111739511,0,1,14000.0,NaN,NaN
10814331,0,90106161,11614783741,1913693773,0,1,21000.0,NaN,NaN
2809544,0,23322393,19622647552,499347415,0,1,6000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10919535,199,91010513,1337051628,1931752413,0,1,8000.0,NaN,NaN
897929,199,7402323,7529147251,160770014,0,1,15000.0,NaN,NaN
10814360,199,90106846,12048578210,1913693773,0,1,16000.0,NaN,NaN
1812326,199,14997729,865101234,323509977,1,0,27000.0,NaN,NaN
6463898,199,53986212,33784593525,1144446353,0,1,15000.0,NaN,NaN

In [27]:
df3 = newdf.sort_values('user_id')  
df3

,qId,Unnamed: 0.1,timestamp,user_id,user_answer,answered_correctly,prior_question_elapsed_time,user_name,password
629255,77,5222296,18428847621,111739511,2,1,17000.0,NaN,NaN
629531,19,5217831,3976420875,111739511,0,0,18000.0,NaN,NaN
629266,19,5222673,18955813720,111739511,1,1,16000.0,NaN,NaN
629358,45,5213057,729422978,111739511,0,1,15000.0,NaN,NaN
628940,20,5220719,17056415626,111739511,0,0,5000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10919464,143,91010645,1483015197,1931752413,0,1,9000.0,NaN,NaN
10919728,143,91008768,195162765,1931752413,0,1,18000.0,NaN,NaN
10919566,19,91008874,223282790,1931752413,1,1,15500.0,NaN,NaN
10919267,47,91009860,713778965,1931752413,3,1,18000.0,NaN,NaN
10919774,52,91009516,662567876,1931752413,3,1,13000.0,NaN,NaN

In [28]:
n= len(df3['user_id'].unique())
series2=df3['user_id'].replace([x for x in df3['user_id'].unique()],[x for x in range(0,n)])
series2

629255      0
629531      0
629266      0
629358      0
628940      0
           ..
10919464    9
10919728    9
10919566    9
10919267    9
10919774    9
Name: user_id, Length: 8917, dtype: int64

In [29]:
s_to_d2=series2.to_frame()

In [30]:
# df3=df3.drop(['user_id'],axis=1)
df3

,qId,Unnamed: 0.1,timestamp,user_id,user_answer,answered_correctly,prior_question_elapsed_time,user_name,password
629255,77,5222296,18428847621,111739511,2,1,17000.0,NaN,NaN
629531,19,5217831,3976420875,111739511,0,0,18000.0,NaN,NaN
629266,19,5222673,18955813720,111739511,1,1,16000.0,NaN,NaN
629358,45,5213057,729422978,111739511,0,1,15000.0,NaN,NaN
628940,20,5220719,17056415626,111739511,0,0,5000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10919464,143,91010645,1483015197,1931752413,0,1,9000.0,NaN,NaN
10919728,143,91008768,195162765,1931752413,0,1,18000.0,NaN,NaN
10919566,19,91008874,223282790,1931752413,1,1,15500.0,NaN,NaN
10919267,47,91009860,713778965,1931752413,3,1,18000.0,NaN,NaN
10919774,52,91009516,662567876,1931752413,3,1,13000.0,NaN,NaN

In [31]:
newdf=pd.merge(s_to_d2,df3, left_index=True , right_index=True ,how='left')

In [32]:
newdf

,user_id_x,qId,Unnamed: 0.1,timestamp,user_id_y,user_answer,answered_correctly,prior_question_elapsed_time,user_name,password
629255,0,77,5222296,18428847621,111739511,2,1,17000.0,NaN,NaN
629531,0,19,5217831,3976420875,111739511,0,0,18000.0,NaN,NaN
629266,0,19,5222673,18955813720,111739511,1,1,16000.0,NaN,NaN
629358,0,45,5213057,729422978,111739511,0,1,15000.0,NaN,NaN
628940,0,20,5220719,17056415626,111739511,0,0,5000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10919464,9,143,91010645,1483015197,1931752413,0,1,9000.0,NaN,NaN
10919728,9,143,91008768,195162765,1931752413,0,1,18000.0,NaN,NaN
10919566,9,19,91008874,223282790,1931752413,1,1,15500.0,NaN,NaN
10919267,9,47,91009860,713778965,1931752413,3,1,18000.0,NaN,NaN
10919774,9,52,91009516,662567876,1931752413,3,1,13000.0,NaN,NaN

In [33]:
df4 = newdf.to_csv('./data/realnewreindex.csv')

In [34]:
df4 = pd.read_csv('./data/realnewreindex.csv')
df4 = df4.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)
df4.to_csv('./data/realnewreindex2.csv')

In [35]:
# 여기서부터 안건드림 니가 하셈
# group_df=df2.groupby(['user_id','qId'])['answered_correctly'].mean()
# group_df

In [36]:
# group_df.to_csv('./data/groupby.csv')