In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('./data/newreindex.csv')
df

         Unnamed: 0  user_id  content_id  answered_correctly
0            203420        1           1                 0.5
1            204974        1        1556                 0.0
2            204975        1        1557                 0.0
3            204976        1        1558                 0.0
4            204977        1        1559                 0.0
...             ...      ...         ...                 ...
1137362    57082428      356        2118                 0.0
1137363    57081698      356        1238                 1.0
1137364    57080758      356         267                 1.0
1137365    57080757      356         266                 0.0
1137366    57081699      356        1239                 0.0

[1137367 rows x 4 columns]

In [21]:
df_table = pd.pivot_table(df, values ='answered_correctly',index ='user_id',columns='content_id')
df_table

content_id,1,2,3,4,5,6,7,8,9,10,...,3565,3566,3567,3568,3569,3570,3571,3572,3573,3574
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.500000,1.000000,0.000000,0.0,0.500000,0.00,0.0,0.000000,0.500000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.000000,1.000000,1.000000,NaN,1.000000,1.00,NaN,0.000000,1.000000,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
3,1.000000,1.000000,0.666667,1.0,1.000000,1.00,1.0,0.333333,0.666667,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.750000,0.500000,1.000000,1.0,0.750000,0.75,1.0,0.666667,0.750000,1.000000,...,0.0,0.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
5,0.666667,0.500000,0.666667,0.5,1.000000,NaN,NaN,0.000000,1.000000,0.500000,...,0.0,0.0,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,0.000000,1.000000,1.000000,1.0,1.000000,1.00,1.0,0.000000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,1.000000,0.666667,1.000000,1.0,0.666667,1.00,1.0,0.000000,0.666667,0.666667,...,NaN,0.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN
354,1.000000,1.000000,1.000000,1.0,1.000000,1.00,1.0,0.600000,1.000000,0.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,1.000000,1.000000,1.000000,1.0,1.000000,1.00,1.0,0.000000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,1.000000,1.000000,1.000000,NaN,1.000000,1.00,1.0,0.000000,0.500000,1.000000,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_table.to_csv('./data/newRmatrix1.csv')

In [23]:
df3=df_table.isna()
df3

content_id,1,2,3,4,5,6,7,8,9,10,...,3565,3566,3567,3568,3569,3570,3571,3572,3573,3574
user_id,,,,,,,,,,,,,,,,,,,,,
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,True,False,False,True,False,False,True,...,False,False,False,False,False,False,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
5,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
353,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,True,True,True
354,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
355,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
356,False,False,False,True,False,False,False,False,False,False,...,True,True,True,False,True,True,True,True,True,True

In [25]:
df3.to_csv('./data/newtruematrix.csv')